*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 3px;
}

*::-webkit-scrollbar-thumb {
    background: #6baf8d;
    border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
    * {
        scrollbar-color: #6baf8d #fff;
    }
}
